# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Virtual Environments
venv/
env/
.venv/

# IDE & OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Config & Secrets
.env
*.log
libmpv-2.dll